*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: rgb(23, 23, 23); */

}
body{
    background-image: linear-gradient(#2b5876,#4e4376);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title{
    width: 480px;
    height: 50px;
    /* border: 1px solid white; */
    margin: 50px auto;
    padding: 10px 0px;
    text-align: center;
}
.title h1{
    font-size: 38px;
    color: white;
}
.slideDiv{
    position: relative;
    display: flex;
    width: 500px;
    height: 400px;
    /* border: 1px solid black; */
    overflow: hidden;
    margin: 50px auto;
    border-radius: 8px;
}
.slideImg{
    border-radius: 8px;
    width: 600px;
    height: 400px;
    transition: 1.2s all ease;
}
.prevBtn{
    cursor: pointer;
    position: absolute;
    left: 360px;
    top: 340px;
    font-size: 34px;
    color: white;
    width: 24px;
    padding-left: 5px;
    transition: 0.9s all ease;
    border-radius: 5px;
}
.nextBtn{
    cursor: pointer;
    position: absolute;
    right: 360px;
    top: 340px;
    font-size: 34px;
    color: white;
    transition: 0.9s all ease;
    border-radius: 5px;
    width: 24px;
    padding-left: 3px;
}
.nextBtn:active{
    background-color: white;
    color: #4e4376;
       transform: scale(0.9);

}
.prevBtn:active{
    background-color: white;
    color: #4e4376;
       transform: scale(0.9);

}
.number{
    position: absolute;
    top:150px;
    left: 215px;
    font-size: 90px;
    font-weight: 600;
    z-index: 1111;
    opacity: 0.8;
    color: white;
}

@media(min-width: 1024px) and (max-width: 1200px){
    .prevBtn{
        left: 230px;
    }
    .nextBtn{
        right: 230px;
    }
}


@media(min-width: 768px) and (max-width:980px){
    .prevBtn{
        left: 100px;
    }
    .nextBtn{
        right: 105px;
    }
}
 

@media(min-width: 320px) and (max-width:430px){

    body{
        height: 770px;
        width: 100%;
       padding-left: 34px;  
    }
    .title{
        /* border: 1px solid red; */
        padding: 0px;
        width: 200px;
        height: 90px;
        margin-left: 25px;
        margin-top: 50px;
        margin-bottom: 0px;
    }
    .slideDiv{
        width: 250px;
        height: 300px;
        margin-left: 0px;
        margin-top: 20px;
    }
    .slideImg{
        width: 350px;
        height: 300px;
        transition: 1.8s all ease;
    }

    .prevBtn{
        top: 290px;
        left: 10px;
    }
    .nextBtn{
        top: 290px;
        right: 13px;
    }
    .number{
        top: 100px;
        left: 100px;
    }
}

 